@model MyPortfolio.Models.User

@{
    ViewData["Title"] = "Register";
}

<style>
    .my-container {
        max-width: 800px;
    }
</style>

<main class="container px-5 my-container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="~/assets/bootstrap-logo.svg" alt="" width="72" height="57">
        <h2>회원가입</h2>
        <p class="lead">저의 사이트에 와주셔서 감사합니다.<br /> 아래의 내용을 입력하고 회원가입 해주시기 바랍니다.</p>
    </div>

    <div class="row g-5">

        <div class="col">
            <h4 class="mb-3">기본입력사항</h4>
            <form class="needs-validation" novalidate>
                <div class="row g-3">
                    <div class="col-12">
                        <label for="email" class="form-label">이메일 주소</label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
                        <div class="invalid-feedback">
                            이메일 주소는 필수입니다.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="UserName" class="form-label">사용자명</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">&#64;</span>
                            <input type="text" class="form-control" id="UserName" placeholder="홍길동" required>
                            <div class="invalid-feedback">
                                사용자명은 필수입니다.
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="address" class="form-label">주소<span class="text-body-secondary">(옵션)</span></label>
                        <input type="text" class="form-control" id="address" placeholder="서울시 도봉구">
                    </div>

                    <div class="col-12">
                        <label for="PhoneNum" class="form-label">전화번호<span class="text-body-secondary">(옵션)</span></label>
                        <input type="text" class="form-control" id="PhoneNum" placeholder="010-6666-7777">
                    </div>

                    <div class="col-12">
                        <label for="Password" class="form-label">비밀번호</label>
                        <input type="password" class="form-control" id="Password" required>
                        <div class="invalid-feedback">
                            비밀번호는 필수입니다.
                        </div>
                    </div>


                    <div class="col-12">
                        <label for="PasswordCheck" class="form-label">비밀번호 확인</label>
                        <input type="password" class="form-control" id="PasswordCheck" required>
                        <div class="invalid-feedback">
                            비밀번호 확인 필수입니다.
                        </div>
                    </div>

                </div>

                <hr class="my-4">

                <button class="w-100 btn btn-primary btn-lg" type="submit">회원가입</button>
            </form>
        </div>
    </div>
</main>

<script src="/js/checkout.js"></script>
